<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>iGuess</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="javascript:void(0);">你懂的</a>
          <div class="nav-collapse">
        
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>

<div class="container">
 <div id="startModuler">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div  class="hero-unit startMod" >
      	<div class="leftbar">
	        <h1><input style="height:30px;width:500px;"></input></h1>
	        <p>把链接分享给你的好友，一起来玩猜吧</p>
	        <p><a class="btn btn-primary btn-large">开始 ?</a></p>
        </div>
        <div >
        	<ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
      </ul>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>使用说明</h2>
           <p>把链接拷贝给你的好友 </p>
         
        </div>
      </div>
</div> <!--开始模块结束-->


  

    </div>

<script id="templateDemo1" type="text/plain" >
    <% for(var i = 0, item; item = list[i]; i++) { %>
        <div><%=item.id%></div>
    <% }   %>

</script>

<script src="js/ztool.all.js" ></script>
<script src="js/jquery.js" ></script>
<script src="js/socket.io.js"></script>

<script src="js/iguess.index.js" ></script>
<script src="js/iguess.socket.js" ></script>
<script src="js/iguess.ui.js" ></script>
<script src="js/iguess.util.js" ></script>
<script src="js/iguess.start.js" ></script>


