<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>iGuess</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body>

<div class="container">
  <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="javascript:void(0);">你想我猜</a>
        </div>
      </div>
  </div>
 <div class="body">	<!--左边导航开始-->

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div  class="hero-unit startMod hidden" id="startModuler" >
      	<div class="leftbar">
	        <h1>
	        	<input id="urlInput"  class="input-xlarge" type="text">
	        </h1>
	        <p>把链接分享给你的好友，一起来玩猜吧</p>
	        <p><a class="btn  btn-large disabled " id="btn_start">开始</a><span id="lb_tip" class="label label-info" style="margin-left:5px;">等待你的哥哥或者妹子点击链接加入哦</span></p>
        </div>
        <div >
        	<ul class="thumbnails" id="joinList" style="margin-left:0px;" >
      </ul>
      <div class="howto alert alert-block">玩法: <br/>由你想一个词语, 如"芙蓉姐姐", 然后给对方一个提示, 如"这是个人名". 对可以根据你的提示来提问, 猜你到底想的是什么. <br/>注意: 对方最多只能问10个问题哟.</div>
        </div>
      </div>

         <!-- 参与者的等待ui -->
<div id="waitting" class="hidden startMod">
</div>
<!-- end 参与者的等待ui -->
<!-- 提问题ui -->
<div id="asking" class="hidden hero-unit asking startMod" cmd="void">
    
</div>
<!-- end 提问题ui -->
<!-- 猜题UI -->
<div id="main" class="main-view hidden startMod" cmd="void">
    <div id="mainTop" class="top alert alert-success">
    </div>
    <div  class="list">
        <ul id="mainList">
        </ul>
    </div>
</div>
<!-- end 猜题UI -->

    </div>  <!--左边导航 结束-->

      <!-- Example row of columns -->
      


</div> <!--开始模块结束-->

<script id="askingTmpl" type="text/plain" >
  <h1>出题</h1>
    <p>想一个词语让对方猜</p>
    <p>
        <input id="question" type="text" class="span3" placeholder="例如: 刘亦菲">
        <span class=" label label-important" style="display: none;">请输入一个词语</span>
    </p>
    <p>给TA一点提示</p>
    <p><textarea id="tips" class="span4" placeholder="例如: 这是一个明星的名字"></textarea><span class=" label label-important" style="display: none;">不给点提示猜不出来哟</span></p>
    <p>
        <a class="btn btn-primary btn-large" cmd="enterQuestion">确定</a>
    </p>
</script>
<script id="waittingTmpl" type="text/plain" >
    <p><div class="waitting-image"></div><h3 class="waitting-text">这个家伙正在出题, 稍等下哟...</h3></p>
    <div class="clearfix"></div>
    <div class="howto alert alert-block">玩法: <br/>由对方想一个词语, 如"芙蓉姐姐", 然后给你一个提示, 如"这是个人名". 你可以根据对方的提示来提问, 猜TA到底想的是什么. <br/>注意: 最多只能问10个问题哟.</div>
    <div class="clearfix"></div>
</script>
<script id="mainTopTmpl" type="text/plain" >
<% if(utype == 1){ %>
    <p>答案: <%=ques.text%></p>
<% } %>
    <p>提示: <%=ques.tips%></p>
</script>
<script id="mainListTmpl" type="text/plain" >
<% if(msgType == 1){ %>
  <li class="question">
	  <div class="alert alert-info" style="width:200px;">
		  <span class="badge" style="margin-left:0px;"><%=msg.round%></span>
		  <span style="margin-left:20px;"><%=msg.text%></span>
	 </div>
  </li>
<% }else if(msgType == 2){ 
var types = {
  '1': 'alert-success',
  '2': 'alert-error',
  '3': 'alert-success'
};
  %>
  <li class="answer">
  	<div class="alert <%=types[msg.confirm]%>" style=" margin-left:120px;width:80px;text-align:center">
		  <span style="margin-left:20px;"><%=msg.text%></span>
	 </div>
  </li>
<% }else if(msgType == 3){ %>
  <li class="tips">
  <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder=<%=msg.text%> disabled="">
  </li>
<% }else if(msgType == 4){ %>
  <li class="action">
    <div>
      <a class="btn btn-primary btn-large" cmd="confirmAnswer" param="1">是</a>
      <a class="btn btn-primary btn-large" cmd="confirmAnswer" param="2">否</a>
      <a class="btn btn-primary btn-success  btn-large" cmd="confirmAnswer" param="3">答对了</a>
    </div>
  </li>
<% }else if(msgType == 5){ %>
  <li class="input">
    <div><input type="text"><span class=" label label-important" style="display: none;"></span></div>
    <div><a class="btn btn-primary btn-large" placeholder="你猜是？" cmd="enterAnswer">确定</a></div>
  </li>
<% }else if(msgType == 6){ %>
  <li class="action">
    <div><a class="btn btn-primary btn-large" cmd="restart">重新开始</a></div>
  </li>
<% }else if(msgType == 7){ %>
  <li class="tips">
  	<% if(msg.actionId==1){%>
  		<div class="alert alert-info" style="height:120px;"> <div class="fail-image" style="margin-left:0px;"></div>  <div style="float:right;margin-top:40px;"> <p>亲，猜失败喽-_-</p> <p>看来你还不够懂TA </p></div>
	  	</div>
  	<%} else if(msg.actionId==0) {%>
  		<div class="alert alert-info" style="height:120px;"> <div class="success-image" style="margin-left:0px;"></div>  <div style="float:right;margin-top:40px;"> <p>哇哦,你居然猜到了TA的心思，看来你很懂TA! </p></div>
	  	</div>
  		<%} else if(msg.actionId==2){%>
  			<div class="alert alert-info" style="height:120px;"> <div class="success-image" style="margin-left:0px;"></div>  <div style="float:right;margin-top:40px;"> <p>哇哦,TA居然猜到了你的心思，看来TA很懂你! </p></div>
	  		</div>
  		<%} else if(msg.actionId==3){%>
  			<div class="alert alert-info" style="height:120px;"> <div class="fail-image" style="margin-left:0px;"></div>  <div style="float:right;margin-top:40px;"> <p>亲，猜失败喽-_-</p> <p>看来TA还不够懂你 </p></div>
	  		</div>
  		<%}%>
  </li>
<% }%>
</script>
<script src="js/ztool.all.js" ></script>
<script src="js/jquery.js" ></script>
<script src="js/socket.io.js"></script>
<script src="js/jquery.carousel.js" ></script>
<script src="js/iguess.index.js" ></script>
<script src="js/iguess.socket.js" ></script>
<script src="js/iguess.ui.js" ></script>
<script src="js/iguess.util.js" ></script>
<script src="js/iguess.startModuler.js" ></script>
<script src="js/iguess.model.js" ></script>
<script src="js/iguess.wait.js" ></script>
<script src="js/iguess.ask.js" ></script>
<script src="js/iguess.main.js" ></script>
<script src="js/iguess.start.js" ></script>


