body {
        padding-top: 60px;
        padding-bottom: 40px;
     }
.container{
    position: relative;
}
.hidden{
    display: none;
}
.full-view{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
}

.startMod{
padding-right:0px;
float:left;
height:300px;
width:500px;
}
.startMod .leftbar{
	width:500px;

}
.startMod .rightbar{
	width:300px;
}
.startMod a{
	width:80px;
}
.startMod liItem{
	float:left;
	width:80px;
}

/****** asking *********/
.asking p:nth-of-type(1){
    margin-top: 20px;
}
.asking input[type="text"]{
    height: 30px;
}
.asking textarea{
    height: 70px;
}
.asking .tips{
    color: #999;
}
.asking .help-inline{
    display: none;
}

/******** main *******/
.main-view .list{
    /*border: 1px solid red;
    border-width: 1px 0 1px;*/
}

.list {
    counter-reset: count;
}
.list ul, .list li{
    list-style-type: none;
}
.list .question:before{
    counter-increment: count;
    content: counter(count) '.';
}








