body {
        padding-top: 60px;
        padding-bottom: 40px;
     }
.container{
    position: relative;
}
.hidden{
    display: none;
}
.full-view{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
}


.startMod{
padding-right:0px;
padding-left:0px;
height:472px;
width:480px;
 background-image: url(img/background.jpg);

}
.startMod .leftbar{
	width:450px;
    margin-left:30px;

}
.startMod .rightbar{
	width:300px;
}
.startMod a{
	width:80px;
}
.startMod liItem{
	float:left;
	width:80px;
}

/****** asking *********/
.asking p:nth-of-type(1){
    margin-top: 20px;
}
.asking input[type="text"]{
    height: 30px;
}
.asking textarea{
    height: 70px;
}
.asking .tips{
    color: #999;
}
.asking .help-inline{
    display: none;
}

/******** main *******/
.main-view {

}
.main-view .list{
    overflow-y: auto;
    /*border: 1px solid red;
    border-width: 1px 0 1px;
    */
}
.main-view .top{
    height: 72px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.list {
    /*counter-reset: count;*/
}
.list ul, .list li{
    list-style-type: none;
}
#mainList{
    height: 400px;
    overflow-y: auto;
}

/*.list .question:before{
    counter-increment: count;
    content: counter(count) '.';
}*/

.waitting-image{
    background: url(../img/waitting.gif);
    width: 100px;
    height: 100px;
    float: left;
}
.waitting-text{
    float: left;
    margin: 40px 0px 0px 20px;
}


.howto{
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    margin: 30px 10px;
    padding: 10px;
}
.startMod .howto{
    margin-top: 10px;
}

.answer{
    text-align: right;
}
.answer > div{
    display: inline-block;
}