body {
        padding-top: 60px;
        padding-bottom: 40px;
     }
.container{
    position: relative;
}
.full-view{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}

.startMod{
padding-right:0px;
float:left;
height:300px;
width:500px;
}
.startMod .leftbar{
	width:500px;

}
.startMod .rightbar{
	width:300px;
}
.startMod a{
	width:80px;
}
.startMod liItem{
	float:left;
	width:80px;
}

/****** asking *********/