body {
        padding-top: 60px;
        padding-bottom: 40px;
     }
    

.startMod{
padding-right:0px;
float:left;
height:500px;
width:500px;
}
.startMod .leftbar{
	width:500px;

}
.startMod .rightbar{
	width:300px;
}
.startMod a{
	width:80px;

.startMod li{
	float:left;
	width:50px;
}