body {
        padding-top: 60px;
        padding-bottom: 40px;
     }
.hidden{
    display: none;
}

.startMod{
padding-right:0px;
float:left;
height:400px;
width:500px;
}
.startMod .leftbar{
	width:500px;

}
.startMod .rightbar{
	width:300px;
}
.startMod a{
	width:80px;
}
.startMod liItem{
	float:left;
	width:80px;
}